[Desktop Entry]
Exec=razor-appswitcher
Name=Application Switcher
Name[ar]=مُبدِّل التطبيقات
Name[bg]=Превключвател на приложения
Name[cs]=Přepínač programů
Name[cs_CZ]=Přepínač programů
Name[da]=Programskifter
Name[da_DK]=Programskifter
Name[de_DE]=Fensterwechsler
Name[el_GR]=Εναλλαγή εφαρμογών
Name[eo]=Ŝaltilo de aplikaĵoj
Name[es]=Selector de aplicaciones
Name[es_MX]=Cambiador de Aplicaciones
Name[es_VE]=Cambiador de ventanas activas
Name[eu]=Aplikazio-aldatzailea
Name[fi]=Sovellusvaihdin
Name[fr]=Sélecteur d'applications
Name[gl]=Selector de aplicativos
Name[he]=מחליף יישומים
Name[hu]=Alkalmazásváltó
Name[ia]=Cambiator de applicationes
Name[it_IT]=Strumento per scorrere le applicazioni
Name[ja]=アプリケーション切替ウィンドウ
Name[lt]=Programų perjungimas
Name[nl]=Programma Wisselaar
Name[pl_PL]=Przełącznik programów
Name[pt]=Alternador de aplicações
Name[pt_BR]=Alternador de aplicativos
Name[ro_RO]=Comutator de aplicații
Name[ru]=Переключатель программ
Name[sl]=Preklapljanje med programi
Name[sv]=Applikationsändrare
Name[th_TH]=ตัวสลับการใช้งานโปรแกรม
Name[tr]=Uygulama Seçici
Name[uk]=Перемикач вікон
Name[zh_CN]=程序切换器
Name[zh_TW]=應用程式切換器
OnlyShowIn=Razor;
TryExec=razor-appswitcher
Type=Application
X-Razor-Module=true
